In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [4]:
data = pd.read_csv("poker-hand-training-true.data")

In [5]:
data.head()

   1  10  1.1  11  1.2  13  1.3  12  1.4  1.5  9
0  2  11    2  13    2  10    2  12    2    1  9
1  3  12    3  11    3  13    3  10    3    1  9
2  4  10    4  11    4   1    4  13    4   12  9
3  4   1    4  13    4  12    4  11    4   10  9
4  1   2    1   4    1   5    1   3    1    6  8

In [6]:
data.shape

(25009, 11)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25009 entries, 0 to 25008
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       25009 non-null  int64
 1   10      25009 non-null  int64
 2   1.1     25009 non-null  int64
 3   11      25009 non-null  int64
 4   1.2     25009 non-null  int64
 5   13      25009 non-null  int64
 6   1.3     25009 non-null  int64
 7   12      25009 non-null  int64
 8   1.4     25009 non-null  int64
 9   1.5     25009 non-null  int64
 10  9       25009 non-null  int64
dtypes: int64(11)
memory usage: 2.1 MB

In [8]:
data.isnull()

,1,10,1.1,11,1.2,13,1.3,12,1.4,1.5,9
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
25004,False,False,False,False,False,False,False,False,False,False,False
25005,False,False,False,False,False,False,False,False,False,False,False
25006,False,False,False,False,False,False,False,False,False,False,False
25007,False,False,False,False,False,False,False,False,False,False,False
25008,False,False,False,False,False,False,False,False,False,False,False

In [9]:
data.isnull().sum()

1      0
10     0
1.1    0
11     0
1.2    0
13     0
1.3    0
12     0
1.4    0
1.5    0
9      0
dtype: int64

In [10]:
data.dtypes

1      int64
10     int64
1.1    int64
11     int64
1.2    int64
13     int64
1.3    int64
12     int64
1.4    int64
1.5    int64
9      int64
dtype: object

In [ ]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]
encoder = OneHotEncoder()
X = encoder.fit_transform(X).toarray()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
clf = SVC(kernel='linear')
clf.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred, zero_division=1))